{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": false,
  "proseWrap": "preserve",
  "arrowParens": "avoid",
  "trailingComma": "none",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "singleAttributePerLine": false,
  "bracketSameLine": false,
  "htmlWhitespaceSensitivity": "ignore",
  "jsxBracketSameLine": true,
  "jsxSingleQuote": true
}
